[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
	branch = master
[submodule "dot_zsh/_zsh/plugins/fzf-tab-source"]
	path = dot_zsh/_zsh/plugins/fzf-tab-source
	url = https://github.com/vinodismyname/fzf-tab-source
	branch = main
[submodule "dot_zsh/_zsh/plugins/fzf-tab"]
	path = dot_zsh/_zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
	branch = master
