layout {
    tab name="shell" focus=true  {
        pane
    }

    default_tab_template {
        pane size=2 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                // Tokyo Night theme colors
                color_fg "#c0caf5"
                color_bg "#1d2021"
                color_black "#414868"
                color_red "#f7768e"
                color_green "#9ece6a"
                color_yellow "#e0af68"
                color_blue "#7aa2f7"
                color_magenta "#bb9af7"
                color_cyan "#7dcfff"
                color_white "#c0caf5"
                color_orange "#ff9e64"
                
                format_left   "{mode}#[bg=$bg] {tabs}"
                format_center ""
                format_right "#[bg=$bg,fg=$blue]#[bg=$blue,fg=$black,bold] #[bg=$black,fg=$fg,bold] {session} #[bg=$black,fg=$fg,bold]"
                format_space  ""
                format_hide_on_overlength "true"
                format_precedence "crl"

                border_enabled  "false"
                border_char    "─"
                border_format  "#[fg=#414868]{char}"
                border_position "top"
                hide_frame_for_single_pane "true"

                mode_normal       "#[bg=$green,fg=$bg,bold] NORMAL#[bg=$bg,fg=$green]█"
                mode_locked       "#[bg=$red,fg=$bg,bold] LOCKED#[bg=$bg,fg=$red]█"
                mode_resize       "#[bg=$orange,fg=$bg,bold] RESIZE#[bg=$bg,fg=$orange]█"
                mode_pane         "#[bg=$blue,fg=$bg,bold] PANE#[bg=$bg,fg=$blue]█"
                mode_tab          "#[bg=$yellow,fg=$bg,bold] TAB#[bg=$bg,fg=$yellow]█"
                mode_scroll       "#[bg=$green,fg=$bg,bold] SCROLL#[bg=$bg,fg=$green]█"
                mode_enter_search "#[bg=$orange,fg=$bg,bold] ENT-SEARCH#[bg=$bg,fg=$orange]█"
                mode_search       "#[bg=$orange,fg=$bg,bold] SEARCH#[bg=$bg,fg=$orange]█"
                mode_rename_tab   "#[bg=$yellow,fg=$bg,bold] RENAME-TAB#[bg=$bg,fg=$yellow]█"
                mode_rename_pane  "#[bg=$blue,fg=$bg,bold] RENAME-PANE#[bg=$bg,fg=$blue]█"
                mode_session      "#[bg=$blue,fg=$bg,bold] SESSION#[bg=$bg,fg=$blue]█"
                mode_move         "#[bg=$blue,fg=$bg,bold] MOVE#[bg=$bg,fg=$blue]█"
                mode_prompt       "#[bg=$blue,fg=$bg,bold] PROMPT#[bg=$bg,fg=$blue]█"
                mode_tmux         "#[bg=$magenta,fg=$bg,bold] TMUX#[bg=$bg,fg=$magenta]█"

                tab_normal              "#[bg=$bg,fg=#414868]█#[bg=#414868,fg=$fg,bold]{index} #[bg=$bg,fg=#414868,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]█"
                tab_normal_fullscreen   "#[bg=$bg,fg=#414868]█#[bg=#414868,fg=$fg,bold]{index} #[bg=$bg,fg=#414868,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]█"
                tab_normal_sync         "#[bg=$bg,fg=#414868]█#[bg=#414868,fg=$fg,bold]{index} #[bg=$bg,fg=#414868,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]█"
                
                tab_active              "#[bg=$bg,fg=$green]█#[bg=$green,fg=$bg,bold]{index} #[bg=$bg,fg=$green,bold] {name}{floating_indicator}#[bg=$bg,fg=$bg,bold]█"
                tab_active_fullscreen   "#[bg=$bg,fg=$green]█#[bg=$green,fg=$fg,bold]{index} #[bg=$bg,fg=$green,bold] {name}{fullscreen_indicator}#[bg=$bg,fg=$bg,bold]█"
                tab_active_sync         "#[bg=$bg,fg=$green]█#[bg=$green,fg=$fg,bold]{index} #[bg=$bg,fg=$green,bold] {name}{sync_indicator}#[bg=$bg,fg=$bg,bold]█"

                tab_separator           "#[bg=$bg] "
                tab_sync_indicator       " "
                tab_fullscreen_indicator " 󰊓"
                tab_floating_indicator   " 󰹙"

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=$blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=$fg,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "America/New_York"
            }
        }
        children
        pane size=1 borderless=true  {
            plugin location="zellij:status-bar"
        }
    }
}